global_error_ass/src/main/mule/global_error_ass.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e6c363d1-1aab-454a-a21d-2f6d006ba3ea" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="global_error_assFlow" doc:id="59558bc4-d09e-404e-bc00-335df4bc33a4" >
		<http:listener doc:name="Listener" doc:id="6e9a8d3c-26c5-4d22-969e-af1debf041eb" config-ref="HTTP_Listener_config" path="/global"/>
		<choice doc:name="Choice" doc:id="50297b69-2b3a-4953-8c86-371fce96d840" >
			<when expression="#[isEmpty(payload)]">
				<raise-error doc:name="Raise error" doc:id="f35733bf-84c0-46aa-a6f7-b00516c24e87" type="NO:PAYLOAD"/>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="5c0b5608-d366-4c02-b41d-85ca9a904083" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"completed"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
